# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.swp
*.swo
*~
.DS_Store

# Runtime
*.log
*.xlsx
!template.xlsx
költségvetés.xlsx